body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background-image: url(../imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 43px;
}
ul {
  margin: 0;
  padding-left: 7px;
}
li {
  list-style: none;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.weather-app {
  max-width: 750px;
  margin: 75px auto 0px;
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #f0f8ff;
  background-color: #adbabf;
  background: linear-gradient(
    rgba(173, 186, 191, 0.25),
    rgba(173, 186, 191, 0.25)
  );
}
.date {
  font-size: 20px;
}
.temperature {
  font-size: 42px;
}
.main-cloud {
  font-size: 50px;
}
.description {
  font-size: 40px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.temperature .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
.temperature .active:hover {
  text-decoration: none;
}
.footer {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
